/* Font path */
$fontPath: '../fonts' !default;

 /* #592727 RED */
 /* #2f5927 GREEN */
 /* #30426a BLUE (default)*/

/* Sidebar background color */
 $sidebarBaseColor: #30426a !default;
 /* Sidebar header and footer color */
 $sidebarHeaderColor: darken($sidebarBaseColor, 2%) !default;
 /* Sidebar title text colour */
 $sidebarTitleColor:  lighten($sidebarBaseColor, 30%) !default;
/* Sidebar menu item hover color */
 $sidebarMenuItemHover: #e99d1a !default;